#craps-game {
    background-image: url('../images/Vegas.jpg');
    color: white;
    background-position: center top;
}
.craps-game-title {
text-align: center;
margin-top: 100px;
}
.craps-game-container {
    width: min(600px, 80vw);
    height: min(400px, 53vw);
    border: solid white 2px;
    margin: 100px auto 0 auto;
    background-image: url('../images/crapstable.png');
    background-size: cover;
    background-position: center top;


}
#craps-registration-pane {
    margin-top: 55px;
    text-align: center;

}
.craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin-top: 25px;
    color: white;
    text-align: center;
}

.craps-registration-input:focus,
.craps-registration-input:focus-visible {
    outline: none !important;
}
.craps-registration-continue {
    margin-top: 25px;
}
.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;
}
#craps-main-section {
    display: none;
}
.craps-main-section-stats {
    text-align: center;
    margin-top: 70px;
}
.craps-stats-money-container {
    font-size: 30px;
    margin: 25px 0 5px 0;
}