
:root {
  --titleSectionPrimaryColor: white;
  --titleSectionSecondarycolor: rgba(160, 122, 85);
  
}
#title {
    color: var(--titleSectionPrimaryColor);
     text-align: center;
    padding-top: 200px;
    background-image: url('../images/sincerely-media-jGzXcCEBgvM-unsplash.jpg');
    background-position: center top;
}
.title-section-header {
    margin-bottom: -5px;
}

.title-section-subtitle {
margin-bottom: 40px;
}
.title-section-button { 
    color: var(--titleSectionPrimaryColor);
    border: solid var(--titleSectionPrimaryColor) 1px;
    border-radius: 5px;
    padding: 15px 20px;
    background-color: transparent;
}
.title-section-button:hover {
    background-color: rgba(153, 126, 96);
  color: var(--titleSectionPrimaryColor);
    cursor: pointer;
   
}

