h1{
    color: blue;
}
button:hover{
    background-color: antiquewhite;
    cursor: pointer;
    font-size: 24px;
}

#title {
        
    text-align: center;
    padding-top: 200px;
    background-image: url('../images/anthony-cantin-9PqSxmMXIkc-unsplash.jpg');
    background-position: center top;
}